<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iverdon.vhrlixi.mapper.ProcessMapper">
    <resultMap id="BaseResultMap" type="cn.iverdon.vhrlixi.model.Process">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="cost" property="cost" jdbcType="FLOAT" />
    </resultMap>

    <insert id="insertProcess" useGeneratedKeys="true" keyProperty="id" parameterType="cn.iverdon.vhrlixi.model.Process" >
        insert into processes (name, cost) values (#{name,jdbcType=VARCHAR}, #{cost,jdbcType=FLOAT})
    </insert>

    <select id="getALLProcess" resultMap="BaseResultMap">
        select * from processes
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from processes where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>